.taskItem {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 4px;
  gap: 6px;
  border: 1px solid var(--color-lightgray-color);

  &:hover {
    .taskItem__clearButton {
      position: absolute;
      visibility: visible;
      opacity: 50%;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none;
      color: var(--color-deny-color);
      cursor: pointer;
    }
  }

  &__text {
    font-weight: 300;
    color: var(--color-text-color);
    transition-duration: var(--transition-duration);
    word-break: break-word;
    overflow-wrap: break-word;
    flex: 1 1 auto;
    max-width: calc(100% - 70px);

  }

  &__text[data-iscompleted='true'] {
    color: var(--color-lightgray-color);
    text-decoration: line-through;
  }

  &__clearButton {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: var(--color-deny-color);
    cursor: pointer;

    transition-duration: var(--transition-duration);
  }
}