#root {
    --color-background-color: #f3f3f3;
    --color-text-color: #1c1c1c;
    --color-lightgray-color: #d8d8d8;
    --color-gray-color: #8c8c8c;
    --color-brand-color: #e4c5c5;
    --color-lightbrand-color: #ece0e0;

    --color-accept-color: #49c6af;
    --color-deny-color: #c64949;

    --transition-duration: 0.3s;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-color);
    height: 100vh;
    max-height: 100vh;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}